{{#partial "content"}}

    <h1>List of Teams:</h1>

    {{#if teams}}
        {{#each teams}}
        <p><a href="/teams/{{id}}">{{ name }}</a></p>
        {{/each}}
    {{else}}
    <p>No teams currently registered.</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}